.btn-color{
    background-color: #f44336;
    color: white;
}

.profile-image-pic{
    width: 200px;
    height: 200px;
    object-fit: cover;

}
.cardbody-color{
    background-color: #f44336;
    background-image: linear-gradient(315deg, #f44336 0%, #2196f3 74%);
}

a {
    text-decoration: none;
}